<table>
  <tbody>
    <tr>
      <td>
        <%= form_with model:[book, book_comment], local: false do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, class: "form-control" ,rows:'3'%>
          </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.submit "送信" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>